@{
    Layout = "_Layout";
}
@model ProductListViewModel
<h1>Welcome to Store</h1>
@foreach (var p in Model.Products ?? Enumerable.Empty<Product>())
{
    <partial name="_productSummary" model="@p" />
}
<partial name="_paginator" model="@Model" />